body {
  margin: 0;
  padding: 0;
}
.userPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 450px;
  box-shadow: 0 0 15px grey;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  gap: 1rem;
}
img {
  border-radius: 50%;
}
.img {
  margin: auto;
}
